/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  position: relative;
  height: 100%;
}

strong {
  font-weight: 700;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

em {
  font-style: italic;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea,
input[type=text],
input[type=button],
input[type=submit] {
  -webkit-appearance: none;
  border-radius: 0;
  outline: 0;
  outline: none;
}

button {
  -webkit-appearance: none;
}

main {
  transition: all 0.4s ease-out;
  display: block;
  transform-origin: center center;
  height: 100%;
}

* {
  outline: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.scrolled {
  background-color: #4b4b4b;
  transition: 0.3s;
}

.btn {
  min-width: 230px;
  padding: 0 30px;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #0355cf;
  color: #c9c9c9;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  text-align: center;
  border: 1px solid #0355cf;
}
@media (min-width: 0) and (max-width: 800px) {
  .btn {
    font-size: 12px;
    min-width: 150px;
    padding: 0 15px;
    line-height: 40px;
  }
}
@media (min-width: 0) and (max-width: 400px) {
  .btn {
    font-size: 10px;
    min-width: 60px;
    padding: 0 5px;
    line-height: 20px;
  }
}
.btn:hover {
  border: 1px solid #c9c9c9;
  background-color: #f68236;
  color: #0355cf;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.previous-pages li {
  display: inline-block;
  list-style-type: none;
  text-align: left;
  color: #969494;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
@media (min-width: 0) and (max-width: 400px) {
  .previous-pages li {
    font-size: 9px;
    font-weight: 500;
  }
}
.previous-pages li:nth-child(2) {
  margin-left: 10px;
}
.previous-pages li:nth-child(3) {
  margin-left: 10px;
}
.previous-pages li:nth-child(4) {
  margin-left: 10px;
}
.previous-pages li .previous-link {
  text-decoration: none;
  color: #969494;
  margin-right: 10px;
}
.previous-pages li .previous-link:hover {
  color: #f68236;
}
.previous-pages li.current-page {
  color: #f68236;
  margin-left: 10px;
}

.btn-add {
  position: relative;
  text-align: center;
  display: inline-block;
  padding: 20px 45px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  width: 200px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #e67429;
}
@media (min-width: 0) and (max-width: 400px) {
  .btn-add {
    padding: 15px 20px;
  }
}
.btn-add span {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 0) and (max-width: 400px) {
  .btn-add span {
    font-size: 14px;
  }
}
.btn-add .liquid {
  position: absolute;
  left: 0;
  top: -80px;
  width: 200px;
  height: 200px;
  background: #f68236;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.btn-add .liquid:hover {
  top: -120px;
}
.btn-add .liquid::before, .btn-add .liquid::after {
  position: absolute;
  content: "";
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}
.btn-add .liquid::before {
  border-radius: 45%;
  background: #494949;
  animation: animate 5s linear infinite;
}
.btn-add .liquid::after {
  border-radius: 40%;
  background: rgba(73, 73, 73, 0.5);
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
.more {
  display: block;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  color: #0355cf;
  background: #c9c9c9;
  padding: 17px 0;
  margin: 35px 0 0 0;
  text-align: center;
}
@media (min-width: 0) and (max-width: 600px) {
  .more {
    font-size: 12px;
  }
}
.more:hover {
  background: #f68236;
  color: #0355cf;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

/*MODULES*/
.hero {
  background-image: linear-gradient(180deg, #4c6296 0%, #5b71a5 10%, #7085b6 20%, #87a7d9 40%, #9ebbeb 60%, #def3f8 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90%;
  position: relative;
}
@media (min-width: 0) and (max-width: 800px) {
  .hero {
    height: 70%;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .hero {
    height: 50%;
  }
}
@media (min-width: 0) and (max-width: 400px) {
  .hero {
    height: 40%;
  }
}
.hero .wrapper {
  height: 100%;
}
.hero .wrapper article {
  text-align: center;
  transform: translateY(-50%);
  top: 50%;
  position: relative;
  padding: 0 60px;
}
@media (min-width: 0) and (max-width: 1440px) {
  .hero .wrapper article {
    transform: translateY(-50%);
    top: 50%;
  }
}
@media (min-width: 0) and (max-width: 800px) {
  .hero .wrapper article {
    transform: translateY(-50%);
    top: 50%;
  }
}
@media (min-width: 0) and (max-width: 400px) {
  .hero .wrapper article {
    transform: translateY(-50%);
    top: 50%;
  }
}
.hero .wrapper article h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 72px;
  display: block;
  color: #fff;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}
@media (min-width: 0) and (max-width: 1440px) {
  .hero .wrapper article h1 {
    font-size: 55px;
  }
}
@media (min-width: 0) and (max-width: 800px) {
  .hero .wrapper article h1 {
    font-size: 40px;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .hero .wrapper article h1 {
    font-size: 25px;
  }
}
@media (min-width: 0) and (max-width: 400px) {
  .hero .wrapper article h1 {
    font-size: 20px;
  }
}
.hero .wrapper article h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  display: block;
  color: #f68236;
  margin: 35px 0;
}
@media (min-width: 0) and (max-width: 1440px) {
  .hero .wrapper article h2 {
    font-size: 22px;
  }
}
@media (min-width: 0) and (max-width: 800px) {
  .hero .wrapper article h2 {
    font-size: 16px;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .hero .wrapper article h2 {
    font-size: 12px;
    margin: 10px;
  }
}
@media (min-width: 0) and (max-width: 400px) {
  .hero .wrapper article h2 {
    font-size: 9px;
  }
}
.hero .wrapper article a.btn {
  margin-top: 35px;
}
@media (min-width: 0) and (max-width: 400px) {
  .hero .wrapper article a.btn {
    margin-top: 10px;
  }
}
.hero ul {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}
@media (min-width: 0) and (max-width: 800px) {
  .hero ul {
    bottom: 15px;
    transform: translateX(-50%);
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .hero ul {
    bottom: 10px;
    transform: translateX(-50%);
  }
}
.hero ul li {
  display: inline-block;
  padding: 0 2px;
}
.hero ul li a {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 20%;
  background: transparent;
  text-decoration: none;
  overflow: hidden;
  font-size: 0;
}
@media (min-width: 0) and (max-width: 600px) {
  .hero ul li a {
    width: 15px;
    height: 15px;
  }
}
@media (min-width: 0) and (max-width: 400px) {
  .hero ul li a {
    width: 10px;
    height: 10px;
  }
}
.hero ul li a:hover {
  background: #fff;
}
.hero ul li a:active {
  background: #fff;
}
.hero .slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 120px;
  background-color: #999;
  line-height: 120px;
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 35px;
}
@media (min-width: 0) and (max-width: 900px) {
  .hero .slider-btn {
    width: 30px;
    height: 90px;
    line-height: 90px;
    font-size: 25px;
  }
}
@media (min-width: 0) and (max-width: 400px) {
  .hero .slider-btn {
    width: 20px;
    height: 60px;
    line-height: 60px;
    font-size: 15px;
  }
}
.hero .slider-btn.next {
  right: 0;
}
.hero .slider-btn.prev {
  left: 0;
}
.hero .slider-btn:hover {
  background: #fff;
  color: #999;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
.hero .item {
  width: 100%;
}
.hero .item img {
  left: 0;
  right: 0;
  height: 68%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
  margin: 0 auto;
}
@media (min-width: 0) and (max-width: 1440px) {
  .hero .item img {
    margin-top: 30px;
    height: 63%;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .hero .item img {
    margin-top: 20px;
    height: 60%;
  }
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
header .wrapper {
  font-size: 0;
  padding: 30px 0;
  border-bottom: 1px solid #adabab;
}
@media (min-width: 0) and (max-width: 1200px) {
  header .wrapper {
    padding: 30px 0 30px 20px;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  header .wrapper {
    padding: 20px 0 20px 20px;
  }
}
@media (min-width: 0) and (max-width: 400px) {
  header .wrapper {
    padding: 10px 0 10px 20px;
  }
}
header .wrapper nav {
  display: inline-block;
  vertical-align: top;
}
header .wrapper nav a {
  display: inline-block;
  text-decoration: none;
  line-height: 42px;
}
header .wrapper nav .logo {
  font-family: "Allerta Stencil", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
  color: #adabab;
  transition: all 200ms ease;
}
@media (min-width: 0) and (max-width: 600px) {
  header .wrapper nav .logo {
    font-size: 20px;
  }
}
@media (min-width: 0) and (max-width: 450px) {
  header .wrapper nav .logo {
    font-size: 16px;
  }
}
header .wrapper nav .logo:hover {
  color: #f68236;
}
header .wrapper nav .link {
  color: #0355cf;
  font-weight: 500;
}
header .wrapper nav.main-nav {
  max-width: 70%;
  width: 100%;
}
@media (min-width: 0) and (max-width: 1100px) {
  header .wrapper nav.main-nav {
    max-width: 30%;
  }
}
header .wrapper nav.main-nav ul li {
  margin-right: 40px;
}
@media (min-width: 0) and (max-width: 960px) {
  header .wrapper nav.main-nav ul li {
    margin-right: 25px;
  }
}
header .wrapper nav.main-nav ul li:first-child {
  margin-left: 40px;
}
@media (min-width: 0) and (max-width: 960px) {
  header .wrapper nav.main-nav ul li:first-child {
    margin-right: 25px;
  }
}
header .wrapper nav.main-nav ul li:last-child {
  margin-right: 0;
}
header .wrapper nav.main-nav ul li a {
  text-decoration: none;
  color: #adabab;
}
header .wrapper nav.main-nav ul li a:hover {
  color: #f68236;
}
@media (min-width: 0) and (max-width: 1100px) {
  header .wrapper nav.main-nav ul {
    position: absolute;
    right: 0;
    top: 72px;
    padding: 20px;
    background-color: #6e6e6e;
    width: 100%;
    height: 45vh;
    z-index: 2;
    display: none;
  }
  header .wrapper nav.main-nav ul li {
    text-align: left;
    display: block;
    margin: 5px 0;
    border-bottom: 1px solid #adabab;
  }
  header .wrapper nav.main-nav ul li:first-child {
    margin: 5px 0;
  }
}
@media (min-width: 0) and (max-width: 1100px) {
  header .wrapper nav.main-nav ul {
    top: 73px;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  header .wrapper nav.main-nav ul {
    top: 63px;
  }
}
@media (min-width: 0) and (max-width: 500px) {
  header .wrapper nav.main-nav ul {
    top: 63px;
  }
}
@media (min-width: 0) and (max-width: 400px) {
  header .wrapper nav.main-nav ul {
    top: 53px;
  }
}
header .wrapper nav.option-nav {
  max-width: 30%;
  width: 100%;
  text-align: right;
}
@media (min-width: 0) and (max-width: 1100px) {
  header .wrapper nav.option-nav {
    max-width: 70%;
  }
}
header .wrapper nav.option-nav ul li {
  margin-left: 40px;
  position: relative;
}
@media (min-width: 0) and (max-width: 960px) {
  header .wrapper nav.option-nav ul li {
    margin-left: 25px;
  }
}
@media (min-width: 0) and (max-width: 960px) and (min-width: 0) and (max-width: 600px) {
  header .wrapper nav.option-nav ul li {
    margin-left: 15px;
  }
}
header .wrapper nav.option-nav ul li:first-child {
  margin-left: 0;
}
header .wrapper nav.option-nav ul li a {
  color: #adabab;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
@media (min-width: 0) and (max-width: 600px) {
  header .wrapper nav.option-nav ul li a {
    font-size: 11px;
  }
}
header .wrapper nav.option-nav ul li a:hover {
  color: #f68236;
}
header .wrapper nav.option-nav ul li a.login {
  margin-right: 8px;
  position: relative;
}
@media (min-width: 0) and (max-width: 450px) {
  header .wrapper nav.option-nav ul li a.login {
    display: none;
  }
}
header .wrapper nav.option-nav ul li a.basket {
  margin-right: 8px;
  position: relative;
}
@media (min-width: 0) and (max-width: 450px) {
  header .wrapper nav.option-nav ul li a.basket {
    margin-right: 4px;
  }
}
header .wrapper nav.option-nav ul li a.search {
  border: 1px solid #adabab;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  position: relative;
}
header .wrapper nav.option-nav ul li a.search:hover {
  border: 1px solid #f68236;
}
header .wrapper nav.option-nav ul li input {
  position: absolute;
  right: 41px;
  padding: 0 20px;
  top: 0;
  height: 42px;
  width: 165px;
  border: 1px solid #adabab;
  text-align: left;
  font-size: 12px;
  font-style: italic;
  color: #606060;
  font-weight: 400;
}
header .wrapper nav.option-nav ul li input:hover {
  border: 1px solid #f68236;
}
header .wrapper nav.option-nav ul li input.inputSearch {
  display: none;
}
header .wrapper nav.option-nav ul li.mobile-menu {
  display: none;
}
@media (min-width: 0) and (max-width: 1100px) {
  header .wrapper nav.option-nav ul li.mobile-menu {
    display: inline-block;
    border: none;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    margin-left: 0;
  }
  header .wrapper nav.option-nav ul li.mobile-menu:hover {
    border: 1px solid #f68236;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #6e6e6e;
  }
}
@media (min-width: 0) and (max-width: 1100px) and (min-width: 0) and (max-width: 1100px) {
  header .wrapper nav.option-nav ul li.mobile-menu:hover {
    top: 1px;
  }
}
header .wrapper nav ul {
  display: inline-block;
  vertical-align: top;
}
header .wrapper nav ul li {
  line-height: 42px;
  font-size: 14px;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
}

.sign-up {
  width: 100%;
  text-align: center;
  height: 450px;
}
.sign-up .wrapper {
  margin: 0 auto;
}
@media (min-width: 0) and (max-width: 800px) {
  .sign-up .wrapper {
    padding: 0 20px;
    margin-top: -10px;
  }
}
.sign-up .wrapper h2 {
  padding-top: 130px;
  color: #303030;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 0) and (max-width: 800px) {
  .sign-up .wrapper h2 {
    font-size: 30px;
  }
}
.sign-up .wrapper p {
  margin-top: 20px;
  margin-bottom: 55px;
  color: #606060;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}
@media (min-width: 0) and (max-width: 800px) {
  .sign-up .wrapper p {
    font-size: 15px;
  }
}
.sign-up .wrapper form input[type=text] {
  background-color: white;
  width: 475px;
  height: 55px;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #606060;
}
@media (min-width: 0) and (max-width: 800px) {
  .sign-up .wrapper form input[type=text] {
    width: 50%;
    height: 45px;
    font-size: 12px;
  }
}
.sign-up .wrapper form input[type=submit] {
  background-color: #f68236;
  width: 95px;
  height: 55px;
  color: white;
  margin-left: -4px;
  border: 1px solid #e67429;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}
@media (min-width: 0) and (max-width: 800px) {
  .sign-up .wrapper form input[type=submit] {
    width: 50px;
    height: 45px;
    font-size: 12px;
  }
}
.sign-up .wrapper form input[type=submit]:hover {
  opacity: 0.8;
}

.grid {
  margin: 30px 0 0 0;
}
.grid .wrapper {
  font-size: 0;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
@media (min-width: 0) and (max-width: 1280px) {
  .grid .wrapper {
    padding: 0 20px;
  }
}
.grid .wrapper .col {
  vertical-align: top;
  display: inline-block;
  font-size: 20px;
  height: 885px;
  width: 25%;
}
@media (min-width: 0) and (max-width: 1024px) {
  .grid .wrapper .col {
    width: 50%;
    display: inline-block;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .grid .wrapper .col {
    width: 100%;
    display: block;
  }
}
.grid .wrapper .col .container {
  max-width: 100%;
  height: 295px;
  text-align: center;
  overflow: hidden;
  position: relative;
  background: #606060;
}
@media (min-width: 0) and (max-width: 1024px) {
  .grid .wrapper .col .container {
    max-width: 100%;
    max-height: 100%;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .grid .wrapper .col .container {
    max-width: 100%;
    max-height: 100%;
  }
}
.grid .wrapper .col .container img {
  object-fit: cover;
}
.grid .wrapper .col .container .article-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  margin: 0 auto;
  color: #fff;
}
.grid .wrapper .col .container .article-container p .fa-arrow-left {
  color: #fff;
  font-size: 30px;
  margin-bottom: 15px;
}
.grid .wrapper .col .container .article-container h1 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  width: 180px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.grid .wrapper .col .container .article-container .info-type-one {
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.grid .wrapper .col .container .item-1 {
  display: block;
  width: auto;
  height: 100%;
  transform: translate(-20px);
}
@media (min-width: 0) and (max-width: 1024px) {
  .grid .wrapper .col .container .item-1 {
    width: 100%;
    margin-left: 20px;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .grid .wrapper .col .container .item-1 {
    width: 100%;
  }
}
.grid .wrapper .col .container .item-2 {
  display: block;
  width: auto;
  height: 100%;
  transform: translate(-20px);
}
@media (min-width: 0) and (max-width: 1024px) {
  .grid .wrapper .col .container .item-2 {
    width: 100%;
    margin-left: 20px;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .grid .wrapper .col .container .item-2 {
    width: 100%;
  }
}
.grid .wrapper .col .container .item-3 {
  display: block;
  width: 100%;
  height: auto;
  transform: translate(0px, -40px);
}
@media (min-width: 0) and (max-width: 1024px) {
  .grid .wrapper .col .container .item-3 {
    width: 100%;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .grid .wrapper .col .container .item-3 {
    width: 100%;
  }
}
.grid .wrapper .col .container .item-4 {
  display: block;
  width: auto;
  height: 100%;
  transform: translate(-50px);
}
@media (min-width: 0) and (max-width: 1024px) {
  .grid .wrapper .col .container .item-4 {
    width: 100%;
    margin-left: 50px;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .grid .wrapper .col .container .item-4 {
    width: 100%;
  }
}
.grid .wrapper .col .container .item-5 {
  display: block;
  width: auto;
  height: 100%;
  transform: translate(-90px);
}
@media (min-width: 0) and (max-width: 1024px) {
  .grid .wrapper .col .container .item-5 {
    width: 100%;
    margin-left: 90px;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .grid .wrapper .col .container .item-5 {
    width: 100%;
  }
}
.grid .wrapper .col .container .item-6 {
  display: block;
  width: 100%;
  height: auto;
  transform: translate(0px, -70px);
}
@media (min-width: 0) and (max-width: 1024px) {
  .grid .wrapper .col .container .item-6 {
    width: 100%;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .grid .wrapper .col .container .item-6 {
    width: 100%;
  }
}
.grid .wrapper .col .container .item-7 {
  display: block;
  width: auto;
  height: 100%;
  transform: translate(0px);
}
@media (min-width: 0) and (max-width: 1024px) {
  .grid .wrapper .col .container .item-7 {
    width: 100%;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .grid .wrapper .col .container .item-7 {
    width: 100%;
  }
}
.grid .wrapper .col .container .item-8 {
  display: block;
  width: auto;
  height: 100%;
  transform: translate(0px);
}
@media (min-width: 0) and (max-width: 1024px) {
  .grid .wrapper .col .container .item-8 {
    width: 100%;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .grid .wrapper .col .container .item-8 {
    width: 100%;
  }
}
.grid .wrapper .col .container:hover .overlay {
  opacity: 1;
}
.grid .wrapper .col .container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(246, 130, 54, 0.64);
}
.grid .wrapper .col .container .overlay .article-overlay {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  margin: 0 auto;
  color: #fff;
}
.grid .wrapper .col .container .overlay .article-overlay h1 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  width: 180px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.grid .wrapper .col .container .overlay .article-overlay .info-type-one {
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.grid .wrapper .col .container .overlay .article-overlay .line {
  margin-right: 15px;
  margin-left: 15px;
  top: -15px;
  position: relative;
}
.grid .wrapper .col .container .overlay .article-overlay .fa-twitter {
  color: #fff;
  font-size: 30px;
  margin-bottom: 10px;
}
.grid .wrapper .col .container .overlay .article-overlay .info-type-two {
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  width: 210px;
  margin: 0 auto;
  line-height: 20px;
  margin-bottom: 20px;
}
.grid .wrapper .col .container .overlay .article-overlay .user {
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  width: 200px;
  margin: 0 auto;
}
.grid .wrapper .col:nth-of-type(1) div:nth-of-type(1) {
  height: 590px;
}
@media (min-width: 0) and (max-width: 1024px) {
  .grid .wrapper .col:nth-of-type(1) div:nth-of-type(1) {
    max-width: 100%;
    max-height: 100%;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .grid .wrapper .col:nth-of-type(1) div:nth-of-type(1) {
    max-width: 100%;
    max-height: 100%;
  }
}
.grid .wrapper .col:nth-of-type(4) div:nth-of-type(2) {
  height: 590px;
}
@media (min-width: 0) and (max-width: 1024px) {
  .grid .wrapper .col:nth-of-type(4) div:nth-of-type(2) {
    max-width: 100%;
    max-height: 100%;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .grid .wrapper .col:nth-of-type(4) div:nth-of-type(2) {
    max-width: 100%;
    max-height: 100%;
  }
}

.slideshow {
  margin-bottom: 0;
}
.slideshow .wrapper {
  font-size: 0;
}
@media (min-width: 0) and (max-width: 1280px) {
  .slideshow .wrapper {
    padding: 0 20px;
  }
}
.slideshow .wrapper .slideshow-btn-prev,
.slideshow .wrapper .slideshow-btn-next {
  width: 40px;
  background: #c9c9c9;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  height: 146px;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 146px;
}
.slideshow .wrapper .slideshow-btn-prev:hover,
.slideshow .wrapper .slideshow-btn-next:hover {
  background: #fff;
  color: #999;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
.slideshow .wrapper .slide-slider {
  max-width: calc(100% - 80px);
  width: 100%;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  height: 146px;
}
.slideshow .wrapper .slide-slider ul {
  width: 100%;
  font-size: 0;
  height: 146px;
  overflow: hidden;
}
.slideshow .wrapper .slide-slider ul li {
  vertical-align: top;
  display: inline-block;
  max-width: 20%;
  width: 100%;
  height: 146px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.slideshow .wrapper .slide-slider ul li img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
.slideshow .wrapper .slide-slider ul li:after {
  content: "";
  width: 490px;
  height: 270px;
  background: rgba(230, 117, 13, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.4s ease;
}
.slideshow .wrapper .slide-slider ul li:hover img {
  transform: translate(-50%, -50%) scale(2);
  transition: all 0.4s ease;
}
.slideshow .wrapper .slide-slider ul li:hover:after {
  opacity: 1;
}

footer {
  padding: 45px 0;
}
footer .wrapper {
  font-size: 0;
}
footer .wrapper .col {
  height: 219px;
  vertical-align: top;
  display: inline-block;
  max-width: calc(25% - 1px);
  width: 100%;
  font-size: 12px;
  border-right: solid #eaeaea 1px;
}
@media (min-width: 0) and (max-width: 800px) {
  footer .wrapper .col {
    display: inline-block;
    max-width: 50%;
  }
  footer .wrapper .col:first-child {
    padding-left: 20px;
  }
  footer .wrapper .col:nth-of-type(1) {
    margin-bottom: 50px;
  }
  footer .wrapper .col:nth-of-type(2) {
    margin-bottom: 50px;
    border-right: none;
  }
}
@media (min-width: 0) and (max-width: 1280px) {
  footer .wrapper .col:first-child {
    padding-left: 20px;
  }
}
footer .wrapper .col:nth-of-type(4) {
  border: 0;
}
footer .wrapper .col:nth-of-type(n + 2) {
  padding-left: 20px;
}
footer .wrapper .col ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #676767;
  line-height: 30px;
}
footer .wrapper .col ul li:first-child {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 20px;
  display: block;
  color: #303030;
  line-height: normal;
}
footer .wrapper .col ul li:last-child {
  margin-bottom: 15px;
}
footer .wrapper .col ul li a {
  color: #676767;
  text-decoration: none;
}
footer .wrapper .col ul li a:hover {
  color: #f68236;
}
footer .wrapper .col ul li ul li {
  display: inline-block;
}
footer .wrapper .col ul li ul li:first-child {
  margin-bottom: 0;
  display: inline-block;
  font-weight: normal;
}
footer .wrapper .col ul li ul li a {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #fff;
  font-size: 15px;
  display: block;
  border-radius: 20%;
  position: relative;
  overflow: hidden;
  border: 1px solid #676767;
  margin-right: 14px;
}
footer .wrapper .col ul li ul li a i {
  position: relative;
  color: #676767;
  transition: 0.5s;
}
footer .wrapper .col ul li ul li a:hover i {
  color: #fff;
  transform: rotate(360deg);
}
footer .wrapper .col ul li ul li a:hover:before {
  top: 0;
}
footer .wrapper .col ul li ul li a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
footer .wrapper .col ul li ul li:nth-child(1) a:before {
  background: #55acee;
}
footer .wrapper .col ul li ul li:nth-child(2) a:before {
  background: #3b5998;
}
footer .wrapper .col ul li ul li:nth-child(3) a:before {
  background: #db3f86;
}

.you-may-like {
  margin-bottom: 0;
}
.you-may-like .wrapper {
  font-size: 0;
  border-top: 1px solid #adabab;
  margin-top: -55px;
}
@media (min-width: 0) and (max-width: 1280px) {
  .you-may-like .wrapper {
    padding: 0 20px;
    margin-top: 0;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .you-may-like .wrapper {
    padding: 0 20px;
    margin-top: 55px;
  }
}
.you-may-like .wrapper h4 {
  text-align: center;
  padding: 45px 0 60px 0;
  color: #969494;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
}
@media (min-width: 0) and (max-width: 600px) {
  .you-may-like .wrapper h4 {
    font-size: 20px;
  }
}
.you-may-like .wrapper .slideshow-btn-prev,
.you-may-like .wrapper .slideshow-btn-next {
  width: 40px;
  background: #c9c9c9;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  height: 146px;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 146px;
}
.you-may-like .wrapper .slideshow-btn-prev:hover,
.you-may-like .wrapper .slideshow-btn-next:hover {
  background: #fff;
  color: #999;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
.you-may-like .wrapper .slide-slider {
  max-width: calc(100% - 80px);
  width: 100%;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  height: 146px;
}
.you-may-like .wrapper .slide-slider ul {
  width: 100%;
  font-size: 0;
  height: 146px;
  overflow: hidden;
}
.you-may-like .wrapper .slide-slider ul li {
  vertical-align: top;
  display: inline-block;
  max-width: 20%;
  width: 100%;
  height: 146px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.you-may-like .wrapper .slide-slider ul li img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
.you-may-like .wrapper .slide-slider ul li:after {
  content: "";
  width: 490px;
  height: 270px;
  background: rgba(230, 117, 13, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.4s ease;
}
.you-may-like .wrapper .slide-slider ul li:hover img {
  transform: translate(-50%, -50%) scale(2);
  transition: all 0.4s ease;
}
.you-may-like .wrapper .slide-slider ul li:hover:after {
  opacity: 1;
}

.categories {
  margin-top: 104px;
}
@media (min-width: 0) and (max-width: 600px) {
  .categories {
    margin-top: 84px;
  }
}
@media (min-width: 0) and (max-width: 400px) {
  .categories {
    margin-top: 64px;
  }
}
.categories .wrapper {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}
@media (min-width: 0) and (max-width: 1280px) {
  .categories .wrapper {
    padding: 0 20px;
  }
}
.categories .wrapper .previous-pages {
  padding: 30px 0;
  margin-bottom: 70px;
}
.categories .wrapper .category {
  margin-bottom: 65px;
}
.categories .wrapper .category h2 {
  color: #303030;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 0) and (max-width: 900px) {
  .categories .wrapper .category h2 {
    font-size: 30px;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .categories .wrapper .category h2 {
    font-size: 24px;
  }
}
.categories .wrapper .category p {
  color: #606060;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  text-transform: lowercase;
}
@media (min-width: 0) and (max-width: 900px) {
  .categories .wrapper .category p {
    font-size: 16px;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .categories .wrapper .category p {
    font-size: 14px;
  }
}
.categories .wrapper .category p a {
  color: #606060;
  margin-right: 10px;
}
.categories .wrapper .category p i {
  color: #606060;
  top: 10%;
  vertical-align: middle;
}
.categories .wrapper .products {
  display: flex;
  width: 100%;
  font-size: 0;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 0) and (max-width: 960px) {
  .categories .wrapper .products {
    display: inline-block;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .categories .wrapper .products {
    display: block;
  }
}
.categories .wrapper .products .card {
  margin-bottom: 165px;
  width: 205px;
  height: 350px;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}
@media (min-width: 0) and (max-width: 960px) {
  .categories .wrapper .products .card {
    display: inline-block;
    width: 30%;
    height: auto;
    margin: 0 10% 10% 10%;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .categories .wrapper .products .card {
    display: block;
    width: 90%;
    margin: 0 5% 15% 5%;
    height: auto;
  }
}
.categories .wrapper .products .card:hover {
  box-shadow: 0px 2px 17px #f68236;
}
.categories .wrapper .products .card .card-img {
  width: 100%;
  height: 70%;
  margin-bottom: 35px;
  overflow: hidden;
}
@media (min-width: 0) and (max-width: 960px) {
  .categories .wrapper .products .card .card-img {
    margin-bottom: 25px;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .categories .wrapper .products .card .card-img {
    margin-bottom: 15px;
  }
}
.categories .wrapper .products .card .card-img a {
  text-decoration: none;
}
.categories .wrapper .products .card .card-img a img {
  width: 100%;
  object-fit: cover;
  display: block;
}
.categories .wrapper .products .card .card-container {
  padding: 2px 16px;
  text-align: center;
}
.categories .wrapper .products .card .card-container .description {
  color: #303030;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}
@media (min-width: 0) and (max-width: 960px) {
  .categories .wrapper .products .card .card-container .description {
    font-size: 13px;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .categories .wrapper .products .card .card-container .description {
    font-size: 13px;
  }
}
.categories .wrapper .products .card .card-container .price {
  color: #303030;
  font-size: 14px;
  font-weight: 600;
}
@media (min-width: 0) and (max-width: 960px) {
  .categories .wrapper .products .card .card-container .price {
    margin-bottom: 25px;
    font-size: 13px;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .categories .wrapper .products .card .card-container .price {
    margin-bottom: 15px;
    font-size: 13px;
  }
}

.main-image {
  margin-top: 104px;
}
@media (min-width: 0) and (max-width: 600px) {
  .main-image {
    margin-top: 84px;
  }
}
@media (min-width: 0) and (max-width: 400px) {
  .main-image {
    margin-top: 64px;
  }
}
.main-image .wrapper {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}
@media (min-width: 0) and (max-width: 1280px) {
  .main-image .wrapper {
    padding: 0 20px;
  }
}
.main-image .wrapper .previous-pages {
  padding: 30px 0;
}
.main-image .wrapper .mainimg {
  margin-bottom: 65px;
  position: relative;
}
.main-image .wrapper .mainimg .bigger {
  width: 100%;
  height: 590px;
  overflow: hidden;
  cursor: pointer;
}
.main-image .wrapper .mainimg .bigger img {
  height: 100%;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
}
.main-image .wrapper .mainimg .thumbnails {
  position: absolute;
  right: 10px;
  bottom: 0;
  max-width: 70px;
}
.main-image .wrapper .mainimg .thumbnails .single-thumbnail {
  width: 70px;
  height: 70px;
  border: 1px solid #969494;
  margin-bottom: 10px;
  overflow: hidden;
}
.main-image .wrapper .mainimg .thumbnails .single-thumbnail a img {
  height: 100%;
  transform: translate(-30px, 0);
}

.details {
  text-align: center;
}
.details .wrapper {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 0) and (max-width: 1280px) {
  .details .wrapper {
    padding: 0 20px;
    margin-bottom: -50px;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .details .wrapper {
    margin-bottom: -100px;
  }
}
.details .wrapper h2 {
  color: #303030;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 0) and (max-width: 800px) {
  .details .wrapper h2 {
    font-size: 30px;
  }
}
.details .wrapper .article-number {
  margin-top: 15px;
  color: #a3a3a3;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}
@media (min-width: 0) and (max-width: 800px) {
  .details .wrapper .article-number {
    font-size: 15px;
  }
}
.details .wrapper .article-price {
  margin-top: 25px;
  color: #606060;
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
}
@media (min-width: 0) and (max-width: 800px) {
  .details .wrapper .article-price {
    font-size: 19px;
  }
}
.details .wrapper .article-description {
  padding-top: 35px;
  color: #606060;
  font-size: 18px;
  font-weight: 400;
  max-width: 700px;
  line-height: 25px;
  margin: 0 auto;
}
@media (min-width: 0) and (max-width: 800px) {
  .details .wrapper .article-description {
    font-size: 15px;
  }
}
.details .wrapper .article-capacity {
  margin-top: 35px;
  color: #606060;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 0) and (max-width: 800px) {
  .details .wrapper .article-capacity {
    font-size: 17px;
  }
}
.details .wrapper ul li {
  margin: 18px 7px 0 7px;
  display: inline-block;
  border: 1px solid #969494;
  padding: 10px;
  color: #606060;
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 0) and (max-width: 800px) {
  .details .wrapper ul li {
    font-size: 15px;
    margin: 18px 4px 0 4px;
    padding: 7px;
  }
}
@media (min-width: 0) and (max-width: 400px) {
  .details .wrapper ul li {
    font-size: 14px;
    padding: 5px;
  }
}
.details .wrapper ul li a {
  text-decoration: none;
  color: #606060;
}
.details .wrapper ul li a:hover {
  color: #f68236;
}
.details .wrapper .btn-add {
  margin-top: 50px;
  margin-bottom: 130px;
}

.payment {
  text-align: center;
}
@media (min-width: 0) and (max-width: 1280px) {
  .payment {
    padding: 0 20px;
  }
}
.payment .separation {
  width: 100px;
  margin: 75px 0;
}
.payment .wrapper {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  width: 100%;
  background-color: #f5f4f4;
  border: 1px solid #e5e5e5;
}
@media (min-width: 0) and (max-width: 1280px) {
  .payment .wrapper {
    padding: 0 20px;
  }
}
.payment .wrapper h2 {
  color: #303030;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 100px;
}
@media (min-width: 0) and (max-width: 800px) {
  .payment .wrapper h2 {
    font-size: 30px;
  }
}
.payment .wrapper .fields {
  margin-top: 20px;
  margin-bottom: 95px;
  color: #606060;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}
@media (min-width: 0) and (max-width: 800px) {
  .payment .wrapper .fields {
    font-size: 15px;
    margin-bottom: 60px;
  }
}
.payment .wrapper table {
  border-collapse: collapse;
  width: 200px;
  margin: 0 auto;
  color: #606060;
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 0) and (max-width: 800px) {
  .payment .wrapper table {
    font-size: 15px;
  }
}
.payment .wrapper table tr .item-description {
  text-align: right;
  padding: 10px;
}
@media (min-width: 0) and (max-width: 800px) {
  .payment .wrapper table tr .item-description {
    padding: 7px;
  }
}
.payment .wrapper table tr .cost {
  text-align: left;
  padding: 10px;
  font-style: italic;
}
@media (min-width: 0) and (max-width: 800px) {
  .payment .wrapper table tr .cost {
    padding: 7px;
  }
}
.payment .wrapper table tr .final-item-description {
  text-align: right;
  padding: 10px;
  color: #f68236;
}
@media (min-width: 0) and (max-width: 800px) {
  .payment .wrapper table tr .final-item-description {
    padding: 7px;
  }
}
.payment .wrapper table tr .final-cost {
  text-align: left;
  padding: 10px;
  font-style: italic;
  color: #f68236;
}
@media (min-width: 0) and (max-width: 800px) {
  .payment .wrapper table tr .final-cost {
    padding: 7px;
  }
}
.payment .wrapper form {
  padding-top: 100px;
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.payment .wrapper form input[type=text],
.payment .wrapper form select {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #606060;
  font-size: 12px;
}
.payment .wrapper form label {
  color: #606060;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  text-align: left;
  line-height: 35px;
}
.payment .wrapper form select {
  font-family: "FontAwesome", "Open Sans", sans-serif;
}
.payment .wrapper form .btn-add {
  margin-top: 40px;
  margin-bottom: 100px;
}

.shipping-address {
  text-align: center;
  width: 100%;
}
@media (min-width: 0) and (max-width: 1280px) {
  .shipping-address {
    padding: 0 20px;
  }
}
.shipping-address .separation {
  width: 100px;
  margin: 75px 0;
}
.shipping-address .wrapper {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  width: 100%;
  background-color: #f5f4f4;
  border: 1px solid #e5e5e5;
}
@media (min-width: 0) and (max-width: 1280px) {
  .shipping-address .wrapper {
    padding: 0 20px;
  }
}
.shipping-address .wrapper h2 {
  color: #303030;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 100px;
}
@media (min-width: 0) and (max-width: 800px) {
  .shipping-address .wrapper h2 {
    font-size: 30px;
  }
}
.shipping-address .wrapper .fields {
  margin-top: 20px;
  margin-bottom: 95px;
  color: #606060;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}
@media (min-width: 0) and (max-width: 800px) {
  .shipping-address .wrapper .fields {
    font-size: 15px;
    margin-bottom: 70px;
  }
}
.shipping-address .wrapper .form-container {
  padding: 0 0 40px 0;
  font-size: 12px;
  color: #606060;
  font-weight: 400;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
.shipping-address .wrapper .form-container form .row {
  display: flex;
}
@media (min-width: 0) and (max-width: 700px) {
  .shipping-address .wrapper .form-container form .row {
    display: block;
  }
}
.shipping-address .wrapper .form-container form .row .col-100 {
  width: 580px;
  margin: 0 auto;
}
@media (min-width: 0) and (max-width: 700px) {
  .shipping-address .wrapper .form-container form .row .col-100 {
    width: 100%;
  }
}
.shipping-address .wrapper .form-container form .row label {
  margin-bottom: 14px;
  display: block;
  text-transform: uppercase;
  text-align: left;
}
.shipping-address .wrapper .form-container form .row span {
  text-transform: none;
  font-style: italic;
}
.shipping-address .wrapper .form-container form .row input[type=text],
.shipping-address .wrapper .form-container form .row select {
  width: 100%;
  margin-bottom: 50px;
  padding: 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #606060;
  font-size: 12px;
  cursor: pointer;
  display: block;
}
@media (min-width: 0) and (max-width: 700px) {
  .shipping-address .wrapper .form-container form .row input[type=text],
.shipping-address .wrapper .form-container form .row select {
    margin-bottom: 30px;
  }
}
.shipping-address .wrapper .form-container form .row .col-50 {
  width: 280px;
  margin: 0 10px;
}
@media (min-width: 0) and (max-width: 700px) {
  .shipping-address .wrapper .form-container form .row .col-50 {
    width: 100%;
    margin: 0 auto;
  }
}
.shipping-address .wrapper .form-container form .row .checkbox {
  text-align: center;
  display: block;
  text-transform: none;
}

.your-shopping-bag {
  text-align: center;
  width: 100%;
  margin-top: 104px;
}
.your-shopping-bag .wrapper {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 0) and (max-width: 1280px) {
  .your-shopping-bag .wrapper {
    padding: 0 20px;
  }
}
.your-shopping-bag .wrapper h2 {
  color: #303030;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 100px;
}
@media (min-width: 0) and (max-width: 800px) {
  .your-shopping-bag .wrapper h2 {
    font-size: 30px;
  }
}
.your-shopping-bag .wrapper .fields {
  margin-top: 20px;
  margin-bottom: 95px;
  color: #606060;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}
@media (min-width: 0) and (max-width: 800px) {
  .your-shopping-bag .wrapper .fields {
    font-size: 15px;
  }
}
.your-shopping-bag .wrapper .table-container {
  max-width: 1180px;
  width: 100%;
  display: inline-block;
}
@media (min-width: 0) and (max-width: 1100px) {
  .your-shopping-bag .wrapper .table-container {
    overflow-x: scroll;
  }
}
.your-shopping-bag .wrapper .table-container table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}
.your-shopping-bag .wrapper .table-container tr {
  text-align: left;
}
.your-shopping-bag .wrapper .table-container tr:last-child {
  background: #f5f4f4;
}
.your-shopping-bag .wrapper .table-container th {
  padding: 10px;
  text-transform: uppercase;
  color: #969494;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #e5e5e5;
}
.your-shopping-bag .wrapper .table-container th:nth-child(3) {
  padding-left: 0;
}
.your-shopping-bag .wrapper .narrower {
  width: 10%;
}
.your-shopping-bag .wrapper .narrower:nth-child(4) {
  text-align: center;
}
.your-shopping-bag .wrapper .narrower:nth-child(5) {
  text-align: center;
}
.your-shopping-bag .wrapper .narrower:nth-child(6) {
  text-align: right;
}
.your-shopping-bag .wrapper .narrower:nth-child(7) {
  text-align: right;
}
@media (min-width: 0) and (max-width: 1100px) {
  .your-shopping-bag .wrapper .narrower {
    min-width: 100px;
  }
}
.your-shopping-bag .wrapper .wider {
  width: 35%;
}
@media (min-width: 0) and (max-width: 1100px) {
  .your-shopping-bag .wrapper .wider {
    min-width: 200px;
  }
}
.your-shopping-bag .wrapper .intermediate {
  width: 15%;
}
@media (min-width: 0) and (max-width: 1100px) {
  .your-shopping-bag .wrapper .intermediate {
    min-width: 160px;
  }
}
.your-shopping-bag .wrapper td {
  vertical-align: middle;
  width: 10px;
  height: 0px;
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
  color: #606060;
  font-size: 14px;
  font-weight: 600;
}
.your-shopping-bag .wrapper td:nth-child(4) {
  padding-left: 32px;
}
@media (min-width: 0) and (max-width: 1100px) {
  .your-shopping-bag .wrapper td:nth-child(4) {
    padding-left: 22px;
  }
}
.your-shopping-bag .wrapper td:nth-child(5) {
  text-align: center;
  padding-left: 30px;
}
@media (min-width: 0) and (max-width: 1100px) {
  .your-shopping-bag .wrapper td:nth-child(5) {
    padding-left: 21px;
  }
}
.your-shopping-bag .wrapper td:nth-child(6) {
  text-align: center;
  padding-left: 25px;
}
@media (min-width: 0) and (max-width: 1100px) {
  .your-shopping-bag .wrapper td:nth-child(6) {
    padding-left: 10px;
  }
}
.your-shopping-bag .wrapper td:nth-child(7) {
  text-align: right;
  padding-right: 22px;
}
.your-shopping-bag .wrapper .thumbnail {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 1px solid #969494;
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
}
.your-shopping-bag .wrapper a img {
  width: 100%;
  transform: translate(0, -5px);
}
.your-shopping-bag .wrapper .first {
  text-transform: uppercase;
  color: #303030;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-left: 10px;
}
.your-shopping-bag .wrapper .second {
  color: #606060;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  margin-left: 10px;
}
.your-shopping-bag .wrapper .qt,
.your-shopping-bag .wrapper .qt-plus,
.your-shopping-bag .wrapper .qt-minus {
  display: block;
  float: left;
}
.your-shopping-bag .wrapper .qt {
  font-size: 14px;
  line-height: 15px;
  width: 10px;
}
.your-shopping-bag .wrapper .qt-plus,
.your-shopping-bag .wrapper .qt-minus {
  background-color: grey;
  margin: 0 8px;
  border: none;
  font-size: 10px;
  font-weight: 300;
  padding: 0 4px;
  transition: all 200ms ease;
  line-height: 15px;
  vertical-align: middle;
}
.your-shopping-bag .wrapper .qt-plus a,
.your-shopping-bag .wrapper .qt-minus a {
  text-decoration: none;
  color: white;
}
.your-shopping-bag .wrapper .qt-plus:hover,
.your-shopping-bag .wrapper .qt-minus:hover {
  background: #f68236;
  color: #fff;
  cursor: pointer;
}
.your-shopping-bag .wrapper .remove {
  text-decoration: none;
  color: #606060;
  font-weight: 600;
  background: #c9c9c9;
  padding: 5px;
  font-size: 14px;
  display: inline-block;
  transition: all 200ms ease;
}
.your-shopping-bag .wrapper .remove:hover {
  background: #f68236;
  color: white;
}
.your-shopping-bag .wrapper .total {
  font-weight: 700;
  text-align: right;
  padding-right: 20px;
}
@media (min-width: 0) and (max-width: 1100px) {
  .your-shopping-bag .wrapper .total {
    padding-right: 14px;
  }
}
.your-shopping-bag .wrapper .sum {
  font-weight: 700;
  color: #f68236;
  padding-left: 53px;
}
@media (min-width: 0) and (max-width: 1100px) {
  .your-shopping-bag .wrapper .sum {
    padding-left: 35px;
  }
}