.wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}
.scrolled {
  background-color: #4b4b4b;
  transition: 0.3s;
}
.btn {
  min-width: 230px;
  padding: 0 30px;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #0355cf;
  color: #c9c9c9;
  text-decoration: none;
  font-family: $font;
  display: inline-block;
  text-align: center;
  border: 1px solid #0355cf;
  @include mq(0, 800px) {
    font-size: 12px;
    min-width: 150px;
    padding: 0 15px;
    line-height: 40px;
  }
  @include mq(0, 400px) {
    font-size: 10px;
    min-width: 60px;
    padding: 0 5px;
    line-height: 20px;
  }
  &:hover {
    border: 1px solid #c9c9c9;
    background-color: #f68236;
    color: #0355cf;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    font-weight: 700;
  }
}
.previous-pages {
  li {
    display: inline-block;
    list-style-type: none;
    text-align: left;
    color: #969494;
    text-transform: uppercase;
    font-family: $font;
    font-size: 12px;
    font-weight: 600;
    @include mq(0, 400px) {
      font-size: 9px;
      font-weight: 500;
    }
    &:nth-child(2) {
      margin-left: 10px;
    }
    &:nth-child(3) {
      margin-left: 10px;
    }
    &:nth-child(4) {
      margin-left: 10px;
    }
    .previous-link {
      text-decoration: none;
      color: #969494;
      margin-right: 10px;
      &:hover {
        color: #f68236;
      }
    }
    &.current-page {
      color: #f68236;
      margin-left: 10px;
    }
  }
}
.btn-add {
  position: relative;
  text-align: center;
  display: inline-block;
  padding: 20px 45px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  width: 200px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #e67429;
  @include mq(0, 400px) {
    padding: 15px 20px;
  }
  span {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 16px;
    font-family: $font;
    @include mq(0, 400px) {
      font-size: 14px;
    }
  }
  .liquid {
    position: absolute;
    left: 0;
    top: -80px;
    width: 200px;
    height: 200px;
    background: #f68236;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    &:hover {
      top: -120px;
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 200%;
      height: 200%;
      top: 0;
      left: 50%;
      transform: translate(-50%, -75%);
    }
    &::before {
      border-radius: 45%;
      background: rgba(73, 73, 73, 1);
      animation: animate 5s linear infinite;
    }
    &::after {
      border-radius: 40%;
      background: rgba(73, 73, 73, 0.5);
      animation: animate 10s linear infinite;
    }
  }
}
@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
.more {
  display: block;
  font-family: $font;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  color: #0355cf;
  background: #c9c9c9;
  padding: 17px 0;
  margin: 35px 0 0 0;
  text-align: center;
  @include mq(0, 600px) {
    font-size: 12px;
  }
  &:hover {
    background: #f68236;
    color: #0355cf;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    font-weight: 700;
  }
}
