.categories {
  margin-top: 104px;
  @include mq(0, 600px) {
    margin-top: 84px;
  }
  @include mq(0, 400px) {
    margin-top: 64px;
  }
  .wrapper {
    font-family: $font;
    margin: 0 auto;
    @include mq(0, 1280px) {
      padding: 0 20px;
    }
    .previous-pages {
      padding: 30px 0;
      margin-bottom: 70px;
    }
    .category {
      margin-bottom: 65px;
      h2 {
        color: #303030;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
        @include mq(0, 900px) {
          font-size: 30px;
        }
        @include mq(0, 600px) {
          font-size: 24px;
        }
      }
      p {
        color: #606060;
        font-size: 18px;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        text-transform: lowercase;
        @include mq(0, 900px) {
          font-size: 16px;
        }
        @include mq(0, 600px) {
          font-size: 14px;
        }
        a {
          color: #606060;
          margin-right: 10px;
        }
        i {
          color: #606060;
          top: 10%;
          vertical-align: middle;
        }
      }
    }
    .products {
      display: flex;
      width: 100%;
      font-size: 0;
      justify-content: space-between;
      align-items: center;
      @include mq(0, 960px) {
        display: inline-block;
      }
      @include mq(0, 600px) {
        display: block;
      }
      .card {
        margin-bottom: 165px;
        width: 205px;
        height: 350px;
        display: inline-block;
        cursor: pointer;
        transition: 0.3s;
        @include mq(0, 960px) {
          display: inline-block;
          width: 30%;
          height: auto;
          margin: 0 10% 10% 10%;
        }
        @include mq(0, 600px) {
          display: block;
          width: 90%;
          margin: 0 5% 15% 5%;
          height: auto;
        }
        &:hover {
          box-shadow: 0px 2px 17px #f68236;
        }
        .card-img {
          width: 100%;
          height: 70%;
          margin-bottom: 35px;
          overflow: hidden;
          @include mq(0, 960px) {
            margin-bottom: 25px;
          }
          @include mq(0, 600px) {
            margin-bottom: 15px;
          }
          a {
            text-decoration: none;
            img {
              width: 100%;
              object-fit: cover;
              display: block;
            }
          }
        }
        .card-container {
          padding: 2px 16px;
          text-align: center;
          .description {
            color: #303030;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 15px;
            @include mq(0, 960px) {
              font-size: 13px;
            }
            @include mq(0, 600px) {
              font-size: 13px;
            }
          }
          .price {
            color: #303030;
            font-size: 14px;
            font-weight: 600;
            @include mq(0, 960px) {
              margin-bottom: 25px;
              font-size: 13px;
            }
            @include mq(0, 600px) {
              margin-bottom: 15px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
