.details {
  text-align: center;
  .wrapper {
    font-family: $font;
    margin: 0 auto;
    width: 100%;
    @include mq(0, 1280px) {
      padding: 0 20px;
      margin-bottom: -50px;
    }
    @include mq(0, 600px) {
      margin-bottom: -100px;
    }
    h2 {
      color: #303030;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
      @include mq(0, 800px) {
        font-size: 30px;
      }
    }
    .article-number {
      margin-top: 15px;
      color: #a3a3a3;
      font-size: 18px;
      font-weight: 400;
      font-style: italic;
      @include mq(0, 800px) {
        font-size: 15px;
      }
    }
    .article-price {
      margin-top: 25px;
      color: #606060;
      font-size: 22px;
      font-weight: 600;
      font-style: italic;
      @include mq(0, 800px) {
        font-size: 19px;
      }
    }
    .article-description {
      padding-top: 35px;
      color: #606060;
      font-size: 18px;
      font-weight: 400;
      max-width: 700px;
      line-height: 25px;
      margin: 0 auto;
      @include mq(0, 800px) {
        font-size: 15px;
      }
    }
    .article-capacity {
      margin-top: 35px;
      color: #606060;
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
      @include mq(0, 800px) {
        font-size: 17px;
      }
    }
    ul {
      li {
        margin: 18px 7px 0 7px;
        display: inline-block;
        border: 1px solid #969494;
        padding: 10px;
        color: #606060;
        font-size: 18px;
        font-weight: 400;
        @include mq(0, 800px) {
          font-size: 15px;
          margin: 18px 4px 0 4px;
          padding: 7px;
        }
        @include mq(0, 400px) {
          font-size: 14px;
          padding: 5px;
        }
        a {
          text-decoration: none;
          color: #606060;
          &:hover {
            color: #f68236;
          }
        }
      }
    }
    .btn-add {
      margin-top: 50px;
      margin-bottom: 130px;
    }
  }
}
