footer {
  padding: 45px 0;
  .wrapper {
    font-size: 0;
    .col {
      height: 219px;
      vertical-align: top;
      display: inline-block;
      max-width: calc(25% - 1px);
      width: 100%;
      font-size: 12px;
      border-right: solid #eaeaea 1px;
      @include mq(0, 800px) {
        display: inline-block;
        max-width: 50%;
        &:first-child {
          padding-left: 20px;
        }
        &:nth-of-type(1) {
          margin-bottom: 50px;
        }
        &:nth-of-type(2) {
          margin-bottom: 50px;
          border-right: none;
        }
      }
      @include mq(0, 1280px) {
        &:first-child {
          padding-left: 20px;
        }
      }
      &:nth-of-type(4) {
        border: 0;
      }
      &:nth-of-type(n + 2) {
        padding-left: 20px;
      }
      ul {
        li {
          &:first-child {
            font-size: 14px;
            text-transform: uppercase;
            font-family: $font;
            font-weight: 700;
            margin-top: 15px;
            margin-bottom: 20px;
            display: block;
            color: #303030;
            line-height: normal;
          }
          &:last-child {
            margin-bottom: 15px;
          }
          font-family: $font;
          font-weight: 400;
          color: #676767;
          line-height: 30px;
          a {
            color: #676767;
            text-decoration: none;
            &:hover {
              color: #f68236;
            }
          }
          ul {
            li {
              display: inline-block;
              &:first-child {
                margin-bottom: 0;
                display: inline-block;
                font-weight: normal;
              }
              a {
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                background: #fff;
                font-size: 15px;
                display: block;
                border-radius: 20%;
                position: relative;
                overflow: hidden;
                border: 1px solid #676767;
                margin-right: 14px;
                i {
                  position: relative;
                  color: #676767;
                  transition: 0.5s;
                }
                &:hover {
                  i {
                    color: #fff;
                    transform: rotate(360deg);
                  }
                  &:before {
                    top: 0;
                  }
                }
                &::before {
                  content: "";
                  position: absolute;
                  top: 100%;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  transition: 0.5s;
                }
              }
              &:nth-child(1) {
                a {
                  &:before {
                    background: #55acee;
                  }
                }
              }
              &:nth-child(2) {
                a {
                  &:before {
                    background: #3b5998;
                  }
                }
              }
              &:nth-child(3) {
                a {
                  &:before {
                    background: #db3f86;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
