.grid {
  margin: 30px 0 0 0;
  .wrapper {
    font-size: 0;
    font-family: $font;
    @include mq(0, 1280px) {
      padding: 0 20px;
    }
    cursor: pointer;
    .col {
      vertical-align: top;
      display: inline-block;
      font-size: 20px;
      height: 885px;
      width: 25%;
      @include mq(0, 1024px) {
        width: 50%;
        display: inline-block;
      }
      @include mq(0, 600px) {
        width: 100%;
        display: block;
      }
      .container {
        max-width: 100%;
        height: 295px;
        text-align: center;
        overflow: hidden;
        position: relative;
        background: #606060;
        @include mq(0, 1024px) {
          max-width: 100%;
          max-height: 100%;
        }
        @include mq(0, 600px) {
          max-width: 100%;
          max-height: 100%;
        }
        img {
          object-fit: cover;
        }
        .article-container {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          width: 90%;
          margin: 0 auto;
          color: #fff;
          p {
          .fa-arrow-left {
            color: #fff;
            font-size: 30px;
            margin-bottom: 15px;
          }
        }
          h1 {
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 600;
            width: 180px;
            margin: 0 auto;
            margin-bottom: 15px;
          }
          .info-type-one {
            font-style: italic;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
          }
        }
        .item-1 {
          display: block;
          width: auto;
          height: 100%;
          transform: translate(-20px);
          @include mq(0, 1024px) {
            width: 100%;
            margin-left: 20px;
          }
          @include mq(0, 600px) {
            width: 100%;
          }
        }
        .item-2 {
          display: block;
          width: auto;
          height: 100%;
          transform: translate(-20px);
          @include mq(0, 1024px) {
            width: 100%;
            margin-left: 20px;
          }
          @include mq(0, 600px) {
            width: 100%;
          }
        }
        .item-3 {
          display: block;
          width: 100%;
          height: auto;
          transform: translate(0px, -40px);
          @include mq(0, 1024px) {
            width: 100%;
          }
          @include mq(0, 600px) {
            width: 100%;
          }
        }
        .item-4 {
          display: block;
          width: auto;
          height: 100%;
          transform: translate(-50px);
          @include mq(0, 1024px) {
            width: 100%;
            margin-left: 50px;
          }
          @include mq(0, 600px) {
            width: 100%;
          }
        }
        .item-5 {
          display: block;
          width: auto;
          height: 100%;
          transform: translate(-90px);
          @include mq(0, 1024px) {
            width: 100%;
            margin-left: 90px;
          }
          @include mq(0, 600px) {
            width: 100%;
          }
        }
        .item-6 {
          display: block;
          width: 100%;
          height: auto;
          transform: translate(0px, -70px);
          @include mq(0, 1024px) {
            width: 100%;
          }
          @include mq(0, 600px) {
            width: 100%;
          }
        }
        .item-7 {
          display: block;
          width: auto;
          height: 100%;
          transform: translate(0px);
          @include mq(0, 1024px) {
            width: 100%;
          }
          @include mq(0, 600px) {
            width: 100%;
          }
        }
        .item-8 {
          display: block;
          width: auto;
          height: 100%;
          transform: translate(0px);
          @include mq(0, 1024px) {
            width: 100%;
          }
          @include mq(0, 600px) {
            width: 100%;
          }
        }
        &:hover .overlay {
          opacity: 1;
        }
        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: 0.5s ease;
          background-color: rgba(246, 130, 54, 0.64);
          .article-overlay {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 90%;
            margin: 0 auto;
            color: #fff;
            h1 {
              text-transform: uppercase;
              font-size: 25px;
              font-weight: 600;
              width: 180px;
              margin: 0 auto;
              margin-bottom: 15px;
            }
            .info-type-one {
              font-style: italic;
              font-size: 20px;
              font-weight: 400;
              text-transform: uppercase;
            }
            .line {
              margin-right: 15px;
              margin-left: 15px;
              top: -15px;
              position: relative;
            }
            .fa-twitter {
              color: #fff;
              font-size: 30px;
              margin-bottom: 10px;
            }
            .info-type-two {
              font-size: 15px;
              font-style: italic;
              font-weight: 400;
              width: 210px;
              margin: 0 auto;
              line-height: 20px;
              margin-bottom: 20px;
            }
            .user {
              font-style: normal;
              font-size: 14px;
              font-weight: 700;
              width: 200px;
              margin: 0 auto;
            }
          }
        }
      }
      &:nth-of-type(1) {
        div {
          &:nth-of-type(1) {
            height: 590px;
            @include mq(0, 1024px) {
              max-width: 100%;
              max-height: 100%;
            }
            @include mq(0, 600px) {
              max-width: 100%;
              max-height: 100%;
            }
          }
        }
      }
      &:nth-of-type(4) {
        div {
          &:nth-of-type(2) {
            height: 590px;
            @include mq(0, 1024px) {
              max-width: 100%;
              max-height: 100%;
            }
            @include mq(0, 600px) {
              max-width: 100%;
              max-height: 100%;
            }
          }
        }
      }
    }
  }
}
