.hero {
  background-image: linear-gradient(
    180deg,
    #4c6296 0%,
    #5b71a5 10%,
    #7085b6 20%,
    #87a7d9 40%,
    #9ebbeb 60%,
    #def3f8 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90%;
  position: relative;
  @include mq(0, 800px) {
    height: 70%;
  }
  @include mq(0, 600px) {
    height: 50%;
  }
  @include mq(0, 400px) {
    height: 40%;
  }
  .wrapper {
    height: 100%;
    article {
      text-align: center;
      transform: translateY(-50%);
      top: 50%;
      position: relative;
      padding: 0 60px;
      @include mq(0, 1440px) {
        transform: translateY(-50%);
        top: 50%;
      }
      @include mq(0, 800px) {
        transform: translateY(-50%);
        top: 50%;
      }
      @include mq(0, 400px) {
        transform: translateY(-50%);
        top: 50%;
      }
      h1 {
        font-family: $font;
        font-size: 72px;
        display: block;
        color: #fff;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
        text-transform: uppercase;
        @include mq(0, 1440px) {
          font-size: 55px;
        }
        @include mq(0, 800px) {
          font-size: 40px;
        }
        @include mq(0, 600px) {
          font-size: 25px;
        }
        @include mq(0, 400px) {
          font-size: 20px;
        }
      }
      h2 {
        font-family: $font;
        font-size: 24px;
        font-weight: 400;
        font-style: italic;
        display: block;
        color: #f68236;
        margin: 35px 0;
        @include mq(0, 1440px) {
          font-size: 22px;
        }
        @include mq(0, 800px) {
          font-size: 16px;
        }
        @include mq(0, 600px) {
          font-size: 12px;
          margin: 10px;
        }
        @include mq(0, 400px) {
          font-size: 9px;
        }
      }
      a {
        &.btn {
          margin-top: 35px;
          @include mq(0, 400px) {
            margin-top: 10px;
          }
        }
      }
    }
  }
  ul {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    @include mq(0, 800px) {
      bottom: 15px;
      transform: translateX(-50%);
    }
    @include mq(0, 600px) {
      bottom: 10px;
      transform: translateX(-50%);
    }
    li {
      display: inline-block;
      padding: 0 2px;
      a {
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid #999;
        border-radius: 20%;
        background: transparent;
        text-decoration: none;
        overflow: hidden;
        font-size: 0;
        @include mq(0, 600px) {
          width: 15px;
          height: 15px;
        }
        @include mq(0, 400px) {
          width: 10px;
          height: 10px;
        }
        &:hover {
          background: #fff;
        }
        &:active {
          background: #fff;
        }
      }
    }
  }
  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 120px;
    background-color: #999;
    line-height: 120px;
    text-decoration: none;
    color: #fff;
    font-family: $font;
    font-weight: 600;
    text-align: center;
    font-size: 35px;
    @include mq(0, 900px) {
      width: 30px;
      height: 90px;
      line-height: 90px;
      font-size: 25px;
    }
    @include mq(0, 400px) {
      width: 20px;
      height: 60px;
      line-height: 60px;
      font-size: 15px;
    }
    &.next {
      right: 0;
    }
    &.prev {
      left: 0;
    }
    &:hover {
      background: #fff;
      color: #999;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease;
    }
  }
  .item {
    width: 100%;
    img {
      left: 0;
      right: 0;
      height: 68%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.7;
      margin: 0 auto;
      @include mq(0, 1440px) {
        margin-top: 30px;
        height: 63%;
      }
      @include mq(0, 600px) {
        margin-top: 20px;
        height: 60%;
      }
    }
  }
}
