.main-image {
  margin-top: 104px;
  @include mq(0, 600px) {
    margin-top: 84px;
  }
  @include mq(0, 400px) {
    margin-top: 64px;
  }
  .wrapper {
    font-family: $font;
    margin: 0 auto;
    @include mq(0, 1280px) {
      padding: 0 20px;
    }
    .previous-pages {
      padding: 30px 0;
    }
    .mainimg {
      margin-bottom: 65px;
      position: relative;
      .bigger {
        width: 100%;
        height: 590px;
        overflow: hidden;
        cursor: pointer;
        img {
          height: 100%;
          max-width: 1180px;
          width: 100%;
          margin: 0 auto;
          object-fit: cover;
        }
      }
      .thumbnails {
        position: absolute;
        right: 10px;
        bottom: 0;
        max-width: 70px;
        .single-thumbnail {
          width: 70px;
          height: 70px;
          border: 1px solid #969494;
          margin-bottom: 10px;
          overflow: hidden;
          a {
            img {
              height: 100%;
              transform: translate(-30px, 0);
            }
          }
        }
      }
    }
  }
}
