header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  .wrapper {
    font-size: 0;
    padding: 30px 0;
    border-bottom: 1px solid #adabab;
    @include mq(0, 1200px) {
      padding: 30px 0 30px 20px;
    }
    @include mq(0, 600px) {
      padding: 20px 0 20px 20px;
    }
    @include mq(0, 400px) {
      padding: 10px 0 10px 20px;
    }
    nav {
      a {
        display: inline-block;
        text-decoration: none;
        line-height: 42px;
      }
      .logo {
        font-family: $copy-font;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 25px;
        color: #adabab;
        transition: all 200ms ease;
        @include mq(0, 600px) {
          font-size: 20px;
        }
        @include mq(0, 450px) {
          font-size: 16px;
        }
        &:hover {
          color: #f68236;
        }
      }
      .link {
        color: #0355cf;
        font-weight: 500;
      }
      display: inline-block;
      vertical-align: top;
      &.main-nav {
        max-width: 70%;
        width: 100%;
        @include mq(0, 1100px) {
          max-width: 30%;
        }
        ul {
          li {
            margin-right: 40px;
            @include mq(0, 960px) {
              margin-right: 25px;
            }
            &:first-child {
              margin-left: 40px;
              @include mq(0, 960px) {
                margin-right: 25px;
              }
            }
            &:last-child {
              margin-right: 0;
            }
            a {
              text-decoration: none;
              color: #adabab;
              &:hover {
                color: #f68236;
              }
            }
          }
          @include mq(0, 1100px) {
            position: absolute;
            right: 0;
            top: 72px;
            padding: 20px;
            background-color: #6e6e6e;
            width: 100%;
            height: 45vh;
            z-index: 2;
            display: none;
            li {
              text-align: left;
              display: block;
              margin: 5px 0;
              border-bottom: 1px solid #adabab;
              &:first-child {
                margin: 5px 0;
              }
            }
          }
          @include mq(0, 1100px) {
            top: 73px;
          }
          @include mq(0, 600px) {
            top: 63px;
          }
          @include mq(0, 500px) {
            top: 63px;
          }
          @include mq(0, 400px) {
            top: 53px;
          }
        }
      }
      &.option-nav {
        max-width: 30%;
        width: 100%;
        text-align: right;
        @include mq(0, 1100px) {
          max-width: 70%;
        }
        ul {
          li {
            margin-left: 40px;
            position: relative;
            @include mq(0, 960px) {
              margin-left: 25px;
              @include mq(0, 600px) {
                margin-left: 15px;
              }
            }
            &:first-child {
              margin-left: 0;
            }
            a {
              color: #adabab;
              font-size: 14px;
              font-family: $font;
              text-decoration: none;
              @include mq(0, 600px) {
                font-size: 11px;
              }
              &:hover {
                color: #f68236;
              }
              &.login {
                margin-right: 8px;
                position: relative;
                @include mq(0, 450px) {
                  display: none;
                }
              }
              &.basket {
                margin-right: 8px;
                position: relative;
                @include mq(0, 450px) {
                  margin-right: 4px;
                }
              }
              &.search {
                border: 1px solid #adabab;
                width: 42px;
                height: 42px;
                line-height: 42px;
                text-align: center;
                position: relative;
                &:hover {
                  border: 1px solid #f68236;
                }
              }
            }
            input {
              position: absolute;
              right: 41px;
              padding: 0 20px;
              top: 0;
              height: 42px;
              width: 165px;
              border: 1px solid #adabab;
              text-align: left;
              font-size: 12px;
              font-style: italic;
              color: #606060;
              font-weight: 400;
              &:hover {
                border: 1px solid #f68236;
              }
              &.inputSearch {
                display: none;
              }
            }
            &.mobile-menu {
              display: none;
              @include mq(0, 1100px) {
                display: inline-block;
                border: none;
                width: 42px;
                height: 42px;
                line-height: 42px;
                text-align: center;
                margin-left: 0;
                &:hover {
                  border: 1px solid #f68236;
                  width: 42px;
                  height: 42px;
                  line-height: 42px;
                  text-align: center;
                  background-color: #6e6e6e;
                  @include mq(0, 1100px) {
                    top: 1px;
                  }
                }
              }
            }
          }
        }
      }
      ul {
        display: inline-block;
        vertical-align: top;
        li {
          line-height: 42px;
          font-size: 14px;
          display: inline-block;
          font-family: $font;
        }
      }
    }
  }
}
