.payment {
  text-align: center;
  @include mq(0, 1280px) {
    padding: 0 20px;
  }
  .separation {
    width: 100px;
    margin: 75px 0;
  }
  .wrapper {
    font-family: $font;
    margin: 0 auto;
    width: 100%;
    background-color: #f5f4f4;
    border: 1px solid #e5e5e5;
    @include mq(0, 1280px) {
      padding: 0 20px;
    }
    h2 {
      color: #303030;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 100px;
      @include mq(0, 800px) {
        font-size: 30px;
      }
    }
    .fields {
      margin-top: 20px;
      margin-bottom: 95px;
      color: #606060;
      font-size: 18px;
      font-weight: 400;
      font-style: italic;
      @include mq(0, 800px) {
        font-size: 15px;
        margin-bottom: 60px;
      }
    }
    table {
      border-collapse: collapse;
      width: 200px;
      margin: 0 auto;
      color: #606060;
      font-size: 18px;
      font-weight: 400;
      @include mq(0, 800px) {
        font-size: 15px;
      }
      tr {
        .item-description {
          text-align: right;
          padding: 10px;
          @include mq(0, 800px) {
            padding: 7px;
          }
        }
        .cost {
          text-align: left;
          padding: 10px;
          font-style: italic;
          @include mq(0, 800px) {
            padding: 7px;
          }
        }
        .final-item-description {
          text-align: right;
          padding: 10px;
          color: #f68236;
          @include mq(0, 800px) {
            padding: 7px;
          }
        }
        .final-cost {
          text-align: left;
          padding: 10px;
          font-style: italic;
          color: #f68236;
          @include mq(0, 800px) {
            padding: 7px;
          }
        }
      }
    }
    form {
      padding-top: 100px;
      max-width: 580px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      input[type="text"],
      select {
        display: block;
        width: 100%;
        padding: 15px;
        margin: 0 auto;
        border: 1px solid #ccc;
        box-sizing: border-box;
        color: #606060;
        font-size: 12px;
      }
      label {
        color: #606060;
        font-family: $font;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        display: block;
        text-align: left;
        line-height: 35px;
      }
      select {
        font-family: "FontAwesome", $font;
      }
      .btn-add {
        margin-top: 40px;
        margin-bottom: 100px;
      }
    }
  }
}
