.shipping-address {
  text-align: center;
  width: 100%;
  @include mq(0, 1280px) {
    padding: 0 20px;
  }
  .separation {
    width: 100px;
    margin: 75px 0;
  }
  .wrapper {
    font-family: $font;
    margin: 0 auto;
    width: 100%;
    background-color: #f5f4f4;
    border: 1px solid #e5e5e5;
    @include mq(0, 1280px) {
      padding: 0 20px;
    }
    h2 {
      color: #303030;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 100px;
      @include mq(0, 800px) {
        font-size: 30px;
      }
    }
    .fields {
      margin-top: 20px;
      margin-bottom: 95px;
      color: #606060;
      font-size: 18px;
      font-weight: 400;
      font-style: italic;
      @include mq(0, 800px) {
        font-size: 15px;
        margin-bottom: 70px;
      }
    }
    .form-container {
      padding: 0 0 40px 0;
      font-size: 12px;
      color: #606060;
      font-weight: 400;
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      form {
        .row {
          display: flex;
          @include mq(0, 700px) {
            display: block;
          }
          .col-100 {
            width: 580px;
            margin: 0 auto;
            @include mq(0, 700px) {
              width: 100%;
            }
          }
          label {
            margin-bottom: 14px;
            display: block;
            text-transform: uppercase;
            text-align: left;
          }
          span {
            text-transform: none;
            font-style: italic;
          }
          input[type="text"],
          select {
            width: 100%;
            margin-bottom: 50px;
            padding: 15px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            color: #606060;
            font-size: 12px;
            cursor: pointer;
            display: block;
            @include mq(0, 700px) {
              margin-bottom: 30px;
            }
          }
          .col-50 {
            width: 280px;
            margin: 0 10px;
            @include mq(0, 700px) {
              width: 100%;
              margin: 0 auto;
            }
          }
          .checkbox {
            text-align: center;
            display: block;
            text-transform: none;
          }
        }
      }
    }
  }
}
