.sign-up {
  width: 100%;
  text-align: center;
  height: 450px;
  .wrapper {
    margin: 0 auto;
    @include mq(0, 800px) {
      padding: 0 20px;
      margin-top: -10px;
    }
    h2 {
      padding-top: 130px;
      color: #303030;
      font-family: $font;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
      @include mq(0, 800px) {
        font-size: 30px;
      }
    }
    p {
      margin-top: 20px;
      margin-bottom: 55px;
      color: #606060;
      font-family: $font;
      font-size: 18px;
      font-weight: 400;
      font-style: italic;
      @include mq(0, 800px) {
        font-size: 15px;
      }
    }
    form {
      input[type="text"] {
        background-color: white;
        width: 475px;
        height: 55px;
        padding: 12px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-family: $font;
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
        color: #606060;
        @include mq(0, 800px) {
          width: 50%;
          height: 45px;
          font-size: 12px;
        }
      }
      input[type="submit"] {
        background-color: #f68236;
        width: 95px;
        height: 55px;
        color: white;
        margin-left: -4px;
        border: 1px solid #e67429;
        font-family: $font;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        cursor: pointer;
        @include mq(0, 800px) {
          width: 50px;
          height: 45px;
          font-size: 12px;
        }
      }
      input[type="submit"]:hover {
        opacity: 0.8;
      }
    }
  }
}
