.you-may-like {
  margin-bottom: 0;
  .wrapper {
    font-size: 0;
    border-top: 1px solid #adabab;
    margin-top: -55px;
    @include mq(0, 1280px) {
      padding: 0 20px;
      margin-top: 0;
    }
    @include mq(0, 600px) {
      padding: 0 20px;
      margin-top: 55px;
    }
    h4 {
      text-align: center;
      padding: 45px 0 60px 0;
      color: #969494;
      font-family: $font;
      font-size: 24px;
      font-weight: 600;
      font-style: italic;
      @include mq(0, 600px) {
        font-size: 20px;
      }
    }
    .slideshow-btn-prev,
    .slideshow-btn-next {
      width: 40px;
      background: #c9c9c9;
      display: inline-block;
      vertical-align: top;
      color: #fff;
      height: 146px;
      font-size: 35px;
      font-weight: 600;
      text-align: center;
      line-height: 146px;
      &:hover {
        background: #fff;
        color: #999;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease;
      }
    }
    .slide-slider {
      max-width: calc(100% - 80px);
      width: 100%;
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      height: 146px;
      ul {
        width: 100%;
        font-size: 0;
        height: 146px;
        overflow: hidden;
        li {
          vertical-align: top;
          display: inline-block;
          max-width: 20%;
          width: 100%;
          height: 146px;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          img {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
          }
          &:after {
            content: "";
            width: 490px;
            height: 270px;
            background: rgba(230, 117, 13, 0.5);
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: all 0.4s ease;
          }
          &:hover {
            img {
              transform: translate(-50%, -50%) scale(2);
              transition: all 0.4s ease;
            }
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
