.your-shopping-bag {
  text-align: center;
  width: 100%;
  margin-top: 104px;
  .wrapper {
    font-family: $font;
    margin: 0 auto;
    width: 100%;
    @include mq(0, 1280px) {
      padding: 0 20px;
    }
    h2 {
      color: #303030;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 100px;
      @include mq(0, 800px) {
        font-size: 30px;
      }
    }
    .fields {
      margin-top: 20px;
      margin-bottom: 95px;
      color: #606060;
      font-size: 18px;
      font-weight: 400;
      font-style: italic;
      @include mq(0, 800px) {
        font-size: 15px;
      }
    }
    .table-container {
      max-width: 1180px;
      width: 100%;
      display: inline-block;
      @include mq(0, 1100px) {
        overflow-x: scroll;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        margin: 0 auto;
      }
      tr {
        text-align: left;
        &:last-child {
          background: #f5f4f4;
        }
      }
      th {
        padding: 10px;
        text-transform: uppercase;
        color: #969494;
        font-size: 12px;
        font-weight: 600;
        border-bottom: 1px solid #e5e5e5;
        &:nth-child(3) {
          padding-left: 0;
        }
      }
    }
    .narrower {
      width: 10%;
      &:nth-child(4) {
        text-align: center;
      }
      &:nth-child(5) {
        text-align: center;
      }
      &:nth-child(6) {
        text-align: right;
      }
      &:nth-child(7) {
        text-align: right;
      }
      @include mq(0, 1100px) {
        min-width: 100px;
      }
    }
    .wider {
      width: 35%;
      @include mq(0, 1100px) {
        min-width: 200px;
      }
    }
    .intermediate {
      width: 15%;
      @include mq(0, 1100px) {
        min-width: 160px;
      }
    }
    td {
      vertical-align: middle;
      width: 10px;
      height: 0px;
      padding: 20px 0;
      border-bottom: 1px solid #e5e5e5;
      color: #606060;
      font-size: 14px;
      font-weight: 600;
      &:nth-child(4) {
        padding-left: 32px;
        @include mq(0, 1100px) {
          padding-left: 22px;
        }
      }
      &:nth-child(5) {
        text-align: center;
        padding-left: 30px;
        @include mq(0, 1100px) {
          padding-left: 21px;
        }
      }
      &:nth-child(6) {
        text-align: center;
        padding-left: 25px;
        @include mq(0, 1100px) {
          padding-left: 10px;
        }
      }
      &:nth-child(7) {
        text-align: right;
        padding-right: 22px;
      }
    }
    .thumbnail {
      width: 100px;
      height: 100px;
      overflow: hidden;
      border: 1px solid #969494;
      margin-left: 10px;
      display: inline-block;
      cursor: pointer;
    }
    a {
     img {
      width: 100%;
      transform: translate(0, -5px);
     }
    }
    .first {
      text-transform: uppercase;
      color: #303030;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      margin-left: 10px;
    }
    .second {
      color: #606060;
      font-size: 12px;
      font-weight: 500;
      font-style: italic;
      margin-left: 10px;
    }
    .qt,
    .qt-plus,
    .qt-minus {
      display: block;
      float: left;
    }
    .qt {
      font-size: 14px;
      line-height: 15px;
      width: 10px;
    }
    .qt-plus,
    .qt-minus {
      background-color: grey;
      margin: 0 8px;
      border: none;
      font-size: 10px;
      font-weight: 300;
      padding: 0 4px;
      transition: all 200ms ease;
      line-height: 15px;
      vertical-align: middle;
      a {
        text-decoration: none;
        color: white;
      }
      &:hover {
        background: #f68236;
        color: #fff;
        cursor: pointer;
      }
    }
    .remove {
      text-decoration: none;
      color: #606060;
      font-weight: 600;
      background: #c9c9c9;
      padding: 5px;
      font-size: 14px;
      display: inline-block;
      transition: all 200ms ease;
      &:hover {
        background: #f68236;
        color: white;
      }
    }
    .total {
      font-weight: 700;
      text-align: right;
      padding-right: 20px;
      @include mq(0, 1100px) {
        padding-right: 14px;
      }
    }
    .sum {
      font-weight: 700;
      color: #f68236;
      padding-left: 53px;
      @include mq(0, 1100px) {
        padding-left: 35px;
      }
    }
  }
}
